{{!-- This file is reponsible for outputting the footer --}}

   <div class="footer">
      <div class="center-div">
         <img src="http://www.webable.digital/bable/wp-content/uploads/2015/05/Vector-Smart-footer.png"/>
         <div class="list">
            <ul class="text-align">
               <li>
                  <a href="http://webable.digital/pdf/WebAble_BrandElements.pdf">
                     <h7>BRAND ELEMENTS</h7>
                  </a>
                  &nbsp; | &nbsp;
               </li>
               <li>
                  <a href="http://webable.digital/bable">
                     <h7> THE BABLE BLOG </h7>
                  </a>
                  &nbsp; | &nbsp;
               </li>
               <li>
                  <a href="http://webable.digital/work">
                     <h7>OUR WORK</h7>
                  </a>
                  &nbsp; | &nbsp;
               </li>
               <li>
                  <a href="http://webable.digital/capabilities">
                     <h7> OUR SERVICES</h7>
                  </a>
                  &nbsp; | &nbsp;
               </li>
               <li>
                  <a href="http://webable.digital/join">
                     <h7> JOIN THE TEAM </h7>
                  </a>
               </li>
            </ul>
         </div>
         <div class="social-icons">
            <ul class="text-align">
               <li><a href="https://twitter.com/WebableDigital" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/company/3544530?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2Cidx%3A2-1-2%" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://plus.google.com/+WebableBd/videos" target="_blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://www.facebook.com/WebAble?fref=ts" target="_blank"> <i class="fa fa-facebook"></i></a></li>
               <li><a href="https://instagram.com/webabledigital/" target="_blank"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://www.pinterest.com/WebAbleDigital/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            </ul>
         </div>
         <div class="text-f">
            <h8>©2015 WEBABLE DIGITAL. ALL RIGHTS RESERVED</h8>
         </div>
      </div>
   </div>