<!--   <div class="row" id="subscribe">
     <h2>Sign up for Newsletter</h2>
     <p>Get the latest tech related articles delivered to your mailbox</p>
     <form action="//webable.us10.list-manage.com/subscribe/post?u=85d615e058b713020387a258e&amp;id=409176d927" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp" target="_blank" novalidate >
       <input type="email" value="" name="EMAIL" class="required email subscribe-box" id="mce-EMAIL" placeholder="Email Address">
       <input class="subscribe-btn" type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe">
     </form>
   </div>

   <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->

   <!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
<form action="//webable.us10.list-manage.com/subscribe/post?u=85d615e058b713020387a258e&amp;id=409176d927" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

	<h2>Sign up for Newsletter</h2>
     <p>Get the latest tech related articles delivered to your mailbox</p>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
   <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">

    	<div id="mce-responses">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div> 
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>