{{!-- This file is reponsible for outputting the default body --}}

{{!< default}}



  <div id="case-studies" class="work_pic">
         <div class="row full-width collapse">
           {{> "loop"}}
           
  		</div>
  		<div class="row paged">
  		{{pagination}}
  		</div>
  </div>

<br><br>
{{> "footer"}}
